<div class="toast-container" data-controller="toast">
  <% if notice %>
    <div class="toast toast-success" data-toast-target="message">
      <div class="toast-icon">
        <i class="fas fa-check-circle"></i>
      </div>
      <div class="toast-content">
        <%= notice %>
      </div>
      <button type="button" class="toast-close" data-action="click->toast#dismiss">
        <i class="fas fa-times"></i>
      </button>
    </div>
  <% end %>
  <% if alert %>
    <div class="toast toast-warning" data-toast-target="message">
      <div class="toast-icon">
        <i class="fas fa-exclamation-circle"></i>
      </div>
      <div class="toast-content">
        <%= alert %>
      </div>
      <button type="button" class="toast-close" data-action="click->toast#dismiss">
        <i class="fas fa-times"></i>
      </button>
    </div>
  <% end %>
</div>
