<div class="theme-switch-wrapper">
  <div class="theme-switch">
    <input
      type="checkbox"
      id="toggle-scheme"
      data-controller="theme-toggle"
      data-action="change->theme-toggle#toggle"
    >
    <label for="toggle-scheme" class="switch-label"></label>
  </div>
</div>
